menu "Configuracion iotTermometro"

config TIPO_DISPOSITIVO
	int "Tipo de dispositivo"
	default 0
	help
		indica el tipo de dispositivo


config GPIO_PIN_LED
	int "Pin gipo para activar el led"
	default 13
	help 
		Indica el pin gpio con el que se activa el LED



endmenu
