menu "Configuracion iotTermometro"

config TIPO_DISPOSITIVO
	int "Tipo de dispositivo"
	default 0
	help
		indica el tipo de dispositivo


config GPIO_PIN_LED
	int "Pin gipo para activar el led"
	default 13
	help 
		Indica el pin gpio con el que se activa el LED


choice
        prompt "Seleccion del tipo de sensor de temperatura"
        default DHT22
        help
            Selecciona el tipo de sensor
    
        config DHT22
            bool "DHT22"
        config DS18B20
            bool "DS18B20"
        endchoice


endmenu
